html {
    background-color: #eeeeee;
}

body {
    display: block;
    width: 1280px;
    margin: 0px auto;
    padding: 0px;
}

a {
     color: #837699;
}

.clear:before, .clear:after, .provider:before, .provider:after {
    content: "";
    display: table;
}

.clear:after, .provider:after {
    clear: both;
}

span.language, span.language_mobile {
     display: inline-block;
     float: right;
     width: auto;
     padding: 0px 30px;
     margin: 0px;
     line-height: 45px;
     font-size: 14px;
     text-transform: uppercase;
     text-align: right;
     color: #666666;
     cursor: pointer;
     &:hover {
          color: #837699;   
     }
}

header {
    background-color: #ffffff;
    width: 1220px;
    margin: 0px auto;
    padding: 30px 30px 15px;
    img {
        display: block;
        width: 160px;
        height: 160px;
        background-color: #d4ddd5;
        float: left;
        padding: 20px;
        box-shadow: 0px 2px 4px 0px #888888;   
    }
}

footer {
    background-color: #ffffff;
    width: auto;
    margin: 0px auto 0px;
    padding: 30px;
    small {
        color: #666666;   
    }
}

nav {
    display: block;
    width: 990px;
    height: 85px;
    float: right;
    box-sizing: border-box;
    margin: 0px 0px 30px;
    box-shadow: 0px 2px 4px 0px #888888;
    span.menu_handle {
        display: none;
    }
    ul {
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
        a:first-child li {
             border-left: none;   
        }
        li {
            display: block;
            float: left;
            height: 85px;
            width: 140px;
            padding: 15px 0px;
            margin: 0px;
            border: 0px solid #eeeeee;
            border-left: 1px solid #eeeeee;
            box-sizing: border-box;
            text-align: center;
            &.login {
                background-color: #d4ddd5;   
            }
            &.login:hover {
                background-color: #bccabe;
            }
            &.about figure {
                background-image:url(../_images/about.png);
            }
            &.employees figure {
                background-image:url(../_images/agents.png);
            }
            &.providers figure {
                background-image:url(../_images/providers.png);
            }
            &.board figure {
                background-image:url(../_images/employers.png);
            }
            &.news figure {
                background-image:url(../_images/news.png);
            }
            &.contact figure {
                background-image:url(../_images/contact.png);
            }
            &.login figure {
                background-image:url(../_images/login.png);
            }
            figure {
                width: 30px;
                height: 30px;
                display: block;
                margin: 0px auto 7px;
                padding: 0px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
            }
            span {
                 font-size: 14px;
                 line-height: 16px;
                 color: #666666;
                 text-transform: uppercase;
            }
        }
        a:nth-child(2n) li {
             width: 140px;   
        }
        a:last-child li {
             width: 150px;   
        }
        a:hover li {
             background-color: #f5f5f5;   
        }
    }
}

div.container {
     display: block;
     width: auto;
     padding: 0px 30px;
}

section {
    background-color: #ffffff;
    width: 1220px;
    margin: 0px auto;
    padding: 15px 30px 15px;
    &:nth-child(even) {
         background-color: #f9f9f9;   
    }
    div.container :last-child {
         margin-bottom: 15px;   
    }
}

div.hero {
     width: 100%;
     padding: 0px;
     margin: 0px;
    box-shadow: 0px 2px 4px 0px #888888;
    line-height: 0;
}

div.hero img {
     width: 100%;
     padding: 0px;
     margin: 0px;
}

@media screen and (min-width:769px) {
     nav {
          ul {
               display: block !important;   
          }
     }
}

@media screen and (max-width:1280px) {
    body {
         width: 960px;   
    }
    header {
        width: auto;
        margin: 0px auto;
        padding: 30px 30px 15px;
        img {
            width: 130px;
            height: 130px;  
            padding: 15px;
        }
    }
    section {
        width: auto;
        padding: 15px 30px 15px;
    }
    footer {
        padding: 15px 30px 15px;
    }
    nav {
    display: block;
    width: 710px;
    height: 65px;
    float: right;
    box-sizing: border-box;
    margin: 0px 0px 30px;
    box-shadow: 0px 2px 4px 0px #888888;
        span.menu_handle {
            display: none;
        }
        ul {
            padding: 0px;
            margin: 0px;
            box-sizing: border-box;
            a:first-child li {
                 border-left: none;   
            }
            li {
                height: 65px;
                width: 97px;
                padding: 7px 0px;
                figure {
                    width: 22px;
                    height: 22px;
                    display: block;
                    margin: 4px auto 4px;
                    padding: 0px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center center;
                }
                span {
                     font-size: 12px;
                     line-height: 14px;
                     color: #666666;
                     text-transform: uppercase;
                }
            }
            a:nth-child(2n) li {
                 width: 97px;   
            }
            a:last-child li {
                 width: 128px;   
            }
        }
    }
}

@media screen and (max-width:1000px) {
    body {
         width: 768px;   
    }
    header {
        width: 768px;
        margin: 0px auto;
        padding: 0px;
        img {
            width: 100px;
            height: 100px;  
            padding: 10px;
        }
    }
    section {
        width: 768px;
        padding: 15px 0px 15px;
    }
    nav {
    display: block;
    width: 632px;
    height: 52px;
    float: right;
    box-sizing: border-box;
    margin: 0px 0px 15px;
    box-shadow: 0px 2px 4px 0px #888888;
        span.menu_handle {
            display: none;
            position: relative;
            z-index: 100;
        }
        ul {
            padding: 0px;
            margin: 0px;
            box-sizing: border-box;
            a:first-child li {
                 border-left: none;   
            }
            li {
                height: 52px;
                width: 90px;
                padding: 7px 0px;
                figure {
                    width: 18px;
                    height: 18px;
                    display: block;
                    margin: 1px auto 1px;
                    padding: 0px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center center;
                }
                span {
                     font-size: 10px;
                     line-height: 11px;
                     color: #666666;
                     text-transform: uppercase;
                }
            }
            a:nth-child(2n) li {
                 width: 90px;   
            }
            a:last-child li {
                 width: 92px;   
            }
        }
    }
}

@media screen and (max-width:768px) {
    body {
         width: 100%;   
    }
    span.language {
         display: none;   
    }
    header {
        background-color: #837699;
        width: auto;
        margin: 0px auto;
        padding: 0px;
        img {
            width: 36px;
            height: 36px;  
            padding: 8px 8px 8px 30px;
            background-color: transparent;
            box-shadow: none;
        }
    }
    footer {
         margin-bottom: 0px;  
         padding: 15px 30px 15px;
    }
    section {
        width: auto;
        padding: 8px 0px 8px;
        &:first-child {
            padding-top: 0px;   
        }
    }
    nav {
    display: block;
    width: auto;
    height: 52px;
    box-sizing: border-box;
    margin: 0px;
    box-shadow: none;
        span.menu_handle {
             font-size: 20px;
             line-height: 52px;
             text-transform: uppercase;
             float: right;
             margin-right: 30px;
             color: #ffffff;
             cursor: pointer;
             display: block;
             img.menu_icon {
                height: 20px;
                width: auto;
                margin: 0px 0px 0px 8px;
                padding: 15px 0px;
                box-shadow: none;
                background-color: transparent;
                float: right;
             }
        }
        ul {
            display: none;
            padding: 0px;
            margin: 0px;
            box-sizing: border-box;
            position: absolute;
            height: auto;
            width: 100%;
            top: 0px;
            left: 0px;
            box-shadow: 0px 2px 4px 0px #888888;
            a:first-child li {
                 border-left: none;   
                 margin-top: 52px;
            }
            li {
                height: 52px;
                width: 100%;
                padding: 7px 0px;
                background-color: #ffffff;
                border-bottom: 1px solid #eeeeee;
                figure {
                    float: left;
                    margin: 0px 0px 0px 30px;
                    padding: 16px 0px 0px;
                }
                span {
                     float: left;
                    font-size: 14px;
                    line-height: 37px;
                    margin-left: 8px;
                }
            }
            a:nth-child(2n) li {
                 width: 100%;   
            }
            a:last-child li {
                 width: 100%; 
                 border-bottom: 0px;
            }
        }
    }
}

@media screen and (max-width:500px) {
    nav {
        span.menu_handle {
             .mobile_hide {
                  display: none;
             }
        }
    }
}